nav{
  height: 50vh;
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
.navbar{
  ul{
    display: flex;
    list-style-type:none ;
    margin:0;
    padding: 0;
  }
}

.navbar{
  ul{
    display: flex;
    list-style-type:none ;
    margin:0;
    padding: 0;
    li{
      margin:0 20px
}