*{
  margin-left: 100px;

}
ul{
  margin-left: 100px;
  padding: 100px;
  list-style:none;
}
li{
  float:left;
  }
  nav a{
    width:100px;
    display: block;
    text-decoration:none;
    text-align:center;
    font-size:17px;
    color:blue;
    padding:20px;
    font-family:arial;
  }
  .container{
    max-width:1200px;
    margin: auto;
    background: lightgray;
    overflow: auto;
   
  }
  .first{
    margin:5px;
    padding: 100px;
    border:1px solid lightgray ;
    float: left;
    width: 390px;
  }
  .first img{
    width:100%;
    height:auto;
  }
  .desc{
    paddibg:15px;
    text-align:center;
  }