*{
  box-sizing: border-box;
}

header img{
  width: 100px;
}
h1{
  color:rgb(19, 13, 13);
}
nav ul{
  float:right;
}
ul li{
  list-style:none;
  display: inline;
}

  nav a{
    text-decoration:none;
    text-align:center;
    font-size:17px;
    color:blue;
    padding:20px;
    font-family:arial;
  }
.search-box{
  
  right: 225px;
  
}
i{
  
  left: 95px;
  border:45px;
  outline:rgb(17, 121, 226);
  }
 
 .fa-money-bill-wave{
  
   top: 642px;
  left: 275px;
  border:45px;
  color: blue;
  
 }
 .diff-box{
   
   bottom: 43px;
   
   
 }
 .fa-child{
   color: blue;
 }

 .another-box{
  
  bottom: 21px;
 }
 
 .here-we-go-box{

  bottom: 21px;
  left: 226px;
 }
 .fa-heart{
  
  top: 642px;
 left: 700px;
 border:45px;
 color:blue;
 }
 .final-box
 {
  
  top: 642px;
  left: 856px;
  top: 638px;
  left: 849px;

 }
 .fa-dog{
color: blue;
  top: 638px;
  left: 920px;
 
  
 }
 .fa-info{
  position: fixed;
  bottom: 225px;
  left: 200px;
  color: blue;
 }
 .cir{
  
   
  }
  .cir2{
    
  }
 .cir3{
 
 }
 .cir4{
  
 }
 
 .search-bar_input{
  --size:60px; 
  border: 2px solid  rgb(82, 48, 231);
   
   border-radius: 500px;
   
 }
 
 .search-bar_submit{
flex-grow:1;
font-size: 1.5rem;
padding: 0 0.5em;
border:0;}

  .fa-money-bill-wave{
--size:60px; 
  border: 2px solid  rgb(82, 48, 231);
   
   border-radius: 500px;
  }
   
 
 